<div class="container">
  <div class="main">
    <div class="side">
      <div class="sideHeader">
        <div class="appInfo">
          <img width="64" height="64" src="../../assets/images/Solid.png">
          <span>Cold</span>
        </div>
        <div><input text="search" placeholder="search trough the Cold..."/></div>
      </div>
      <div class="spaces">
        <ul>
          <li>space1</li>
          <li>space2</li>
          <li>space3</li>
          <li>space4</li>
        </ul>
      </div>
      <div class="userInfo">
        <img width="32" height="32" src="../../assets/images/profile.png">
        <div>zahra joulaei</div>
        <div>posiotion: Boss</div>

      </div>
    </div>
    <div class="content">
      <div class="navContent topnav">
        <div>Space name: discussion about naming</div>
        <div>members:12 </div>
      </div>
      <div class="chat">
        this is a chat block
      </div>
      <div class="sendText">
        <button>+</button>
        <input>
        <button>Send</button>
      </div>
    </div>
  </div>
</div>
