<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link">COLD</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
    </li>
  </ul>
</nav>
<div class="container p-5">
    <div class="container jumbotron text-center vertical-center">
        <h1>Welcome to COLD</h1>
        <p><b>C</b>ollaboration <b>O</b>ver <b>L</b>inked <b>D</b>ata</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">{{workspace}}{{appRootDir}}</span>
            </div>
            <input type="text" [(ngModel)]="folderName"  class="form-control" id="basic-url" aria-describedby="basic-addon3" required>
        </div>
        <button type="button" (click)=" initWorkspace()" [disabled]="!folderName" class="btn btn-primary btn-lg btn-block my-3">Create a workspace</button>
    
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <button type="button" class="btn btn-secondary btn-lg btn-block my-3">Join a workspace</button>
        <br>
        <h1>Your Workspaces</h1>
        <br>
        <ul class="list-group">
          <!--TO DO: Make it a link -->
          <li class="list-group-item" *ngFor="let wkspace of existingWorkspaces">{{ wkspace.name }}</li>
        </ul>
    </div>
</div>