.bg-dark {
   background-color: #005aff !important;
}

.btn-primary {
    background-color: #005aff !important;
    border-color: #005aff !important;
}

.btn-secondary {
    background-color: #53575a !important;
    border-color: #53575a !important;
}