* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
html {
    font-family: "Lucida Sans", sans-serif;
}
.logout {
    display: grid;
    justify-content: center;
    align-items: center;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    height: 100vh;
}
.sider {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-gap: 1em;
    background-color: rgb(35, 42, 134);
    padding-top: 0.5em;
}
.workspace {
    color: white;
}
.workspace p {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.75em;
}
.spaces {
    position:relative;
    min-height:4em;
    margin-bottom: 2em;
}
.spaces-wrapper {
    position:absolute;
    margin-top: 2em;
    top:0;
    left:0;
    right:0;
    max-height:100%;
    overflow:hidden ;
}
.spaces-wrapper:hover {
    overflow-y: scroll;
}
.spaces p {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.75em;
    color: white;
}
.space-ul {
    overflow: auto;
}
.space-ul li {
    margin-left: 1em;
    margin-right: 1em;
    padding: 8px;
    margin-bottom: 7px;
    /*background-color: #33b5e5;*/
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    list-style: none;
}
.space-ul li:hover {
    background-color: white;
    color: black;
}
.friends {
    position:relative;
    min-height:4em;
    margin-top: 1em;
}
.friends-wrapper {
    position:absolute;
    margin-top: 2em;
    top:0;
    left:0;
    right:0;
    max-height:100%;
    overflow:hidden;
}
.friends-wrapper:hover {
    overflow-y: scroll;
}
.friends p {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.75em;
    color: white;
}
.main {
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
}
.main-navbar {
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.85em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #b4b4b3;
}
.space-des p {
    color: #424242;
}
.user-profile {
    display: grid;
    justify-items: center;
    padding: 2em;
}
.user-profile p {
    color: white;
}
.chat-area {
    position:relative;
    min-height:4em;
}
.chat-area-wrapper {
    position:absolute;
    top:0;
    left:0;
    right:0;
    max-height:100%;
    overflow:hidden;
}
.chat-area-wrapper:hover {
    overflow-y: scroll;
}
.message {
    display: grid;
    grid-template-columns: 1fr 9fr 9fr;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
}
.sender-img {
    display: grid;
    justify-content: center;
    grid-column: 1;
    grid-row: 1/3;
}
.sender-img img {
    border-radius: 10%;
}
.sender-name {
    grid-column: 2/4
}
.sender-msg {
    grid-column: 2/4
}
.sender-msg-area {
    display: grid;
    grid-template-columns: 1fr 17fr 1fr;
    border: 2px solid #5f5e5e;
    border-radius: 8px;
    margin: 1.10em;
}
.upload-file {
    display: grid;
    justify-content: center;
    align-items: center; 
}
.user-msg {
    display: grid;
}
.send {
    display: grid;
    justify-content: center;
    align-items: center; 
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}